---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: ${dashboard_cert_issuer}
  namespace: ${namespace}
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: ${email}
    privateKeySecretRef:
      name: ${dashboard_cert_issuer}-ssl-private
    solvers:
      - http01:
          ingress:
            ingressClassName: ${ingress_class}
